.register-employee {
  margin-top: 118px;
  .form-group {
    .form-control {
      height: 40px;
    }

    label {
      font-weight: 600;
    }

    .invalid-feedback {
      display: block;
    }
  }

  .division-line {
    position: relative;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #888;
    span {
      position: relative;
      float: none;
      padding: 0 25px;
      background: #fff;
      top: 12px;
      letter-spacing: .1em;
      color: #484949;
    }
  }
}
