<div class="pages-wrapper products-page-wrapper">
  <div id="fh5co-product" #productsTpl>
    <div [ngClass]="isInSeparatePage ? 'container-fluid' : 'container'">
      <div class="row section-title animate-box">
        <div class="col-12 col-md-8 offset-md-2 text-center fh5co-heading">
          <span>Cool Stuff</span>
          <h2>Products.</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>

      <aside class="filters-wrapper d-block d-md-none" [ngClass]="isFilterSectionVisible ? 'show' : 'hide'">
        <span aria-hidden="true" (click)="toggleSection()" class="close">&times;</span>
        <h4 class="mt-2 ml-2">Filters</h4>

        <div class="container">
          <div *ngFor="let filter of filters">
            <h5>{{filter.name}}</h5>
            <div *ngFor="let field of filter.fields">
              <label class="filter-name">{{field.name}}
                <input type="checkbox" [(ngModel)]="field.value">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </aside>

      <div class="overflow" [ngClass]="isFilterSectionVisible ? 'show' : 'hide'" (click)="toggleSection()"></div>

      <div class="container">
        <div class="row">
          <div class="col-2 d-none d-md-block" *ngIf="isInSeparatePage">
            <h4>Filters</h4>
            <div *ngFor="let filter of filters">
              <h5>{{filter.name}}</h5>
              <div *ngFor="let field of filter.fields">
                <label class="filter-name">{{field.name}}
                  <input type="checkbox" [(ngModel)]="field.value">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>

          <div [ngClass]="isInSeparatePage ? 'col-12 col-md-10' : 'col-12'">
            <div class="row" [@scrollAnimation]="products.length" *ngIf="productsComponentIsInView">

              <div class="col-12 mb-4 text-right d-flex justify-content-between" *ngIf="isInSeparatePage">
                <!--              // TODO this depends on the API, will have to wait for the data structure, may be best using ng-select-->
                <!--              <ng-select-->
                <!--                [items]="sortingOptions"-->
                <!--                [(ngModel)]="sortedOption"-->
                <!--                [bindLabel]="'label'"-->
                <!--                [bindValue]="'value'"-->
                <!--                [searchable]="false"-->
                <!--                [clearable]="false"-->
                <!--                appearance="outline"-->
                <!--                class="form-control sorting-options">-->
                <!--              </ng-select>-->

                <!--              // TODO default select works ok, only problem is option hover color and overall styling, need to use some pseudo constructs if left with this-->
                <button class="btn btn-secondary d-inline-block d-md-none toggle-filters m-0" (click)="toggleSection()">Filters</button>

                <label for="cat"></label>
                <select id="cat" class="custom-select categories-select" [(ngModel)]="sortedOption">
                  <option *ngFor="let option of sortingOptions" [ngValue]="option.value">{{option.label}}</option>
                </select>
              </div>

              <div *ngFor="let product of products | paginate: { itemsPerPage: 12, currentPage: page }; let i = index" class="text-center animate-box fadeIn"
                   [ngClass]="isInSeparatePage ? 'col-12 col-md-3' : 'col-12 col-md-4'">
                <div class="product">
                  <div class="product-grid" [ngStyle]="{ 'background-image': 'url(' + product.img + ')', height: '250px'}">
                    <div class="inner">
                      <a class="product-icon-wrapper" (click)="goToProductDetailPage(product, $event)" href="javascript:void(0)">
                        <a class="icon" (click)="addToCart(product)"><fa-icon [icon]="faShoppingCart" href="javascript:void(0)"></fa-icon></a>
                        <a (click)="openProductQuickViewModal(product)" class="icon"><fa-icon [icon]="faEye" href="javascript:void(0)"></fa-icon></a>
                      </a>
                    </div>
                  </div>
                  <div class="desc">
                    <h3><a href="single.html">{{product.productName}}</a></h3>
                    <span class="price">{{product.price}}</span>
                  </div>
                </div>
              </div>

              <div class="pagination-controls col-12 text-center" *ngIf="isInSeparatePage">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-newsletter *ngIf="isInSeparatePage"></app-newsletter>
</div>
