<div class="modal-header">
  <h4 class="modal-title">Shopping Cart ({{cartService.totalItems}})</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="cart-products-wrapper">
    <div *ngIf="products.length > 0">
      <div class="cart-products row" *ngFor="let product of products">
        <div class="col-6"><img [src]="product.img"></div>
        <div class="col-6">
          <h5>{{product.productName}}</h5>
          <span class="item-quantity">{{product.quantity}}</span>
          <div class="quantity-icons-wrapper">
            <a class="plus" href="javascript:void(0)"><fa-icon [icon]="faPlusCircle" class="fa-icon"
                                                               (click)="changeProductQuantity(product, 'add')"></fa-icon></a>
            <a class="minus" href="javascript:void(0)"><fa-icon [icon]="faMinusCircle" class="fa-icon"
                                                                (click)="changeProductQuantity(product, 'remove')"></fa-icon></a>
          </div>
<!--          <input type="number" [(ngModel)]="product.quantity" (ngModelChange)="itemQuantityChanges$.next($event)"-->
<!--                 (change)="changeProductQuantity(product)" min="0"/>-->
          <h6>{{product.artist}}</h6>
          <span>{{product.price}}</span>
        </div>
      </div>
    </div>
    <h4 *ngIf="products.length === 0">No Added Products</h4>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  <button type="button" class="btn btn-default" (click)="clearCart()">Clear Cart</button>
</div>
