::ng-deep {
  .pages-wrapper {
    margin-top: 119px;
  }

  .swiper-button-next {
    background-image: url("../assets/images/right_arrow.png") !important;
  }

  .swiper-button-prev {
    background-image: url("../assets/images/left_arrow.png") !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .modal-dialog.modal-lg {
    max-width: 1000px;
  }
}
