<div class="pages-wrapper products-page-wrapper">
  <div id="fh5co-product" #productsTpl>
    <div [ngClass]="isInSeparatePage ? 'container-fluid' : 'container'">
      <div class="row section-title animate-box">
        <div class="col-12 col-md-8 offset-md-2 text-center fh5co-heading">
          <span>Cool Stuff</span>
          <h2>Products.</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>

      <div class="row" *ngIf="isInSeparatePage">
        <div class="col-2">
          <h4>Category</h4>
          <div *ngFor="let category of categories">
            <h5>{{category.name}}</h5>
            <div *ngFor="let field of category.fields">
              <label class="container">{{field.name}}
                <input type="checkbox" [(ngModel)]="categoriesModel">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>

        <div [ngClass]="isInSeparatePage ? 'col-10' : 'col-12'">
          <div class="row" [@scrollAnimation]="products.length" *ngIf="productsComponentIsInView">
            <div class="col-12 mb-4" *ngIf="isInSeparatePage">
              <ng-select
                [items]="sortingOptions"
                [(ngModel)]="sortedOption"
                [bindLabel]="'label'"
                [bindValue]="'value'"
                [searchable]="false"
                [clearable]="false"
                appearance="outline"
                class="form-control sorting-options">
              </ng-select>
            </div>
            <div *ngFor="let product of products; let i = index" class="text-center animate-box fadeIn"
                 [ngClass]="isInSeparatePage ? 'col-12 col-md-3' : 'col-12 col-md-4'">
              <div class="product">
                <div class="product-grid" [ngStyle]="{ 'background-image': 'url(' + product.img + ')', height: '250px'}">
                  <div class="inner">
                    <p>
                      <a class="icon" (click)="addToCart(product)"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
                      <a (click)="goToProductDetailPage(product)" class="icon"><fa-icon [icon]="faEye"></fa-icon></a>
                    </p>
                  </div>
                </div>
                <div class="desc">
                  <h3><a href="single.html">{{product.productName}}</a></h3>
                  <span class="price">{{product.price}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-newsletter></app-newsletter>
</div>
