.modal-header {
  width: 100%;
}

.modal-body {
  width: 100%;
  height: 70vh;
  .quick-view-desc-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.thumbs {
  width: 100%;
}
