<div id="fh5co-testimonial" class="fh5co-bg-section">
  <div class="animated fadeInUp" inViewport [inViewportOptions]="{ threshold: [0] }" (inViewportAction)="onIntersection($event)">
    <div class="container">
      <div class="row animate-box">
        <div class="col-12 text-center fh5co-heading">
          <span>Testimony</span>
          <h2>Happy Clients</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-12">

          <swiper [config]="config" [index]="0">

            <div class="item" *ngFor="let testimony of testimonies">
              <div class="testimony-slide active text-center">
                <figure>
                  <img [src]="testimony.clientImage" alt="user">
                </figure>
                <span>{{testimony.clientName}} via <a href="#" class="twitter">{{testimony.reviewedVia}}</a></span>
                <blockquote>
                  <p>&ldquo;{{testimony.review}}&rdquo;</p>
                </blockquote>
              </div>
            </div>

          </swiper>
        </div>
      </div>
    </div>
  </div>
</div>
