.navbar-toggler-icon {
  background-color: #d1c286;
  color: #828282;
}

.profile-link {
  position: absolute;
  right: 5%;
  top: 12%;
}

.dropdown-menu {
  background: transparent;
  border: none;
  padding: 0;
  width: 600px;
  margin: 0;
  &.products-dropdown {
    min-width: 50rem;
  }
}

.user-icon-wrapper {
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
  &.mobile {
    right: 70px;
    top: 50px;
  }
}

.login-section-wrapper {
  right: -90%;
  width: 400px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  height: 100%;
  padding-bottom: 2em;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
  .login-sections {
    list-style-type: none;
    .login-section {
      padding: 1rem;
      border-bottom: 1px solid #d1c286;
      font-size: 1.1rem;
      cursor: pointer;
      a {
        display: block;
        width: 100%;
      }
      &:hover {
        a {
          color: #888;
        }
      }
    }
  }
}

.login-section-wrapper.show {
  right: 0;
  top: 0;
  z-index: 10000;
  visibility: visible;
  opacity: 1;
  -webkit-box-shadow: -2px 0 10px 0 rgba(0,0,0,.3);
  -moz-box-shadow: -2px 0 10px 0 rgba(0,0,0,.3);
  box-shadow: -2px 0 10px 0 rgba(0,0,0,.3);
  .close {
    font-size: 3rem;
  }
}
