<aside id="fh5co-hero" class="js-fullheight">
  <swiper [config]="config" [index]="0">
    <div class="slide" *ngFor="let slide of slides; let i = index" [ngStyle]="{ 'background-image': 'url(' + slide.img + ')'}">
      <div class="container">
        <div class="row">
          <div class="col-md-6 slider-text">
            <div class="slider-text-inner animated fadeInUp">
              <div class="desc">
                <span class="price">$800</span>
                <h2>{{slide.productName}}</h2>
                <p>{{slide.productDescription}}</p>
                <p><a href="single.html" class="btn btn-primary btn-outline btn-lg">Purchase Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </swiper>
</aside>
