<aside id="fh5co-hero" class="js-fullheight">
  <carousel>
    <slide>
      <img src="../../assets/images/img_bg_1.jpg" alt="first slide" style="display: block; width: 100%; max-height: 850px;">
      <div class="carousel-caption d-none d-md-block">
        <div class="overlay-gradient"></div>
        <div class="slider-text-inner">
          <div class="desc">
            <span class="price">$800</span>
            <h2>Alato Cabinet</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
            <p><a href="single.html" class="btn btn-primary btn-outline btn-lg">Purchase Now</a></p>
          </div>
        </div>
      </div>
    </slide>
    <slide>
      <img src="../../assets/images/img_bg_2.jpg" alt="first slide" style="display: block; width: 100%; max-height: 850px;">
      <div class="carousel-caption d-none d-md-block">
        <div class="overlay-gradient"></div>
        <div class="slider-text-inner">
          <div class="desc">
            <span class="price">$800</span>
            <h2>Alato Cabinet</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
            <p><a href="single.html" class="btn btn-primary btn-outline btn-lg">Purchase Now</a></p>
          </div>
        </div>
      </div>
    </slide>
  </carousel>
</aside>
